<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite thread-count="1" verbose="1" name="Test Suite" annotations="JDK" parallel="tests">
         
  <test name="setup">
	 <classes>
	   <class name="org.selenium.demo.test.SeleniumTest.SuiteSetup"/>
	 </classes>
   </test>
   
  <test name="BestBuy">
     <classes>
       <class name="org.selenium.demo.test.SeleniumTest.BestBuyTest"/>
     </classes>
   </test>
</suite>